<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <title>Video Review</title>

  </head>
  <body text-align="justify">
    <a href="/">
      <img src = "/static/CSS/images/head.png" width="100%">
    </a>
    <br>

  {% block body %}

<br>

<div style="width:70%; text-align:justify; display:inline-block;">

  <h2 style="font-size: 1em"> What is this platform ? </h2>

  <br>

  <p> This platform provides a tool to interpret the facial emotions of the person watching a video. We have developed complex Deep Learning algorithm that analyze the results of the video and provides the client a summary of what our algorithm perceives, and how the video/advertisement performs .</p>

<br>
  <img src = "/static/CSS/images/process.png" width="80%">
<br>

<br>

  <h2 style="font-size: 1em"> Why this project ? </h2>

  <br>

<p>The project was developped as AI Deep Dive project. I have worked for several weeks on the individual models, and built this platform. I am using Python for the individual model training, Flask for the web interface, and D3.js for visualization purposes. </p>

<br>

<br>
</div>

<div class="github-card" data-github="https://github.com/swaroski" data-width="50%" data-height="70%" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<br>
<br>
<div style="width:70%; text-align:justify; display:inline-block;">

  
</tr></table>
</div>
  </div>

<br>
<br>
<br>

  <form>
    <input type="button" value="Back" onclick="history.go(-1)">
  </form>

  <br>

</body>


{% endblock %}